extends ../shared/_master

append additionlCSS
    link(rel="stylesheet", href="/static/css/newproject.css")

block main

    .modal-dialog.newproject
        .modal-content.content
            .modal-header
                h3.headerSign.col-md-6.type
                    | Welcome back
            form(action='/auth/log-in', method='post').form
                input#username.form-control(type='text', name='username', placeholder='Username')
                input#password.form-control(type='password', name='password', placeholder='Password')
                .modal-footer
                    button.submitbtn.btn.btn-secondary(type='submit') 
                        | Log in
