extends ../shared/_master

block main
    != messages()
    form(action="/auth/register", method="POST")
        p
            label
                | Username: 
                input(type="text", name="username")
        p
            label
                | Password: 
                input(type="password", name="password")
        p    
            label
                | Interests: 
                select(name="interests", multiple)
                    each value in [1, 2, 3, 4, 5, 6]
                        option(value=value)
                            =value
        p
            label
                | Interests 2: 
                each value in [1, 2, 3, 4, 5, 6]
                    label
                        =value
                        input(type="checkbox" value=value, name="int2")
        button
            | Create
