extends ../shared/_master

append additionlCSS
    link(rel="stylesheet", href="/static/css/newproject.css")
    
block main
    != messages()

    .modal-dialog.newproject
        .modal-content.content
            .modal-header
                h3.headerSign.col-md-6.type
                    | Join the gang
            form(action='/auth/register', method='post').form
                input#title.form-control(type='text', name='username', placeholder='Username', required, minlength=5)
                input#title.form-control(type='password', name='password', placeholder='Password', required, minlength=5)
                input#title.form-control(type='text', name='firstName', placeholder='First name (optional)')
                input#title.form-control(type='text', name='lastName', placeholder='Last name (optional)')
                .modal-footer
                    button.submitbtn.btn.btn-secondary(type='submit') 
                        | Register
