block append additionlCSS
    link(rel="stylesheet", href="/static/css/navbar.css")
    link(rel="stylesheet", href="/static/css/search.css")

mixin nav()
    nav.navbar.navbar-default.navbar-fixed-top
        div.container-fluid
            // Brand and toggle get grouped for better mobile display
            div.navbar-header
                button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1')
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand(href='/')
                    | CrowdFunding
            // Collect the nav links, forms, and other content for toggling
            div#bs-example-navbar-collapse-1.collapse.navbar-collapse
                ul.nav.navbar-nav
                    li#explore-nav
                        a(href='/projects') Explore
                    li#new-nav
                        a(href='/projects/new') Start a project 
                    li#about-nav
                        a(href='/about') About
                div#search-form.navbar-form.navbar-left
                    div.form-group
                        input.form-control(type='text', placeholder='Search', name='searchValue')
                    button#search-submit.btn.btn-default(type='submit') Search
                ul.nav.navbar-nav.navbar-right
                    if user
                        li#profile-nav
                            //- a(href="/users/profile/"+user.username)=user.username
                            a#profile-name(href="/auth/profile/")=user.username
                        li
                            a(href="/auth/log-out") Log-out
                    else
                        li
                            a(href='/auth/log-in') Log in
                        li
                            a(href="/auth/register") Register
