mixin prj(model)
    div.container-fluid.bg-3
        br
        div.row
        if model.length > 0
            each project in model
                div.col-sm-3.text-center.project-box
                    a(href="/projects/" + project.ref)
                        img.img-responsive(src=project.coverImg, alt='Project cover')
                    h4.text-center 
                        a(href="/projects/" + project.ref)
                            =project.title 
                    div.hideLong 
                        =project.description
        else 
            h3.text-center No projects yet..
    br
