extends shared/_master

block main
    != messages()
    div#myCarousel.carousel.slide(data-ride='carousel')
        // Indicators
        ol.carousel-indicators
            li.active(data-target='#myCarousel', data-slide-to='0')
            li(data-target='#myCarousel', data-slide-to='1')
            li(data-target='#myCarousel', data-slide-to='2')
        // Wrapper for slides
        div.carousel-inner(role='listbox')
            .item.active
                img(src='/static/images/FacetheSunShadowCseeker.jpg', alt='Image')
                .carousel-caption
                    h3 Face the Shadow Seeker
                    p contemporaryseeker.com
            .item
                img(src='/static/images/Flickr_-_schmuela_-_more_sun_and_shadows.jpg', alt='Image')
                .carousel-caption
                    h3 More Sun and Shadows
                    p Flickr Schmuela
            .item
                img(src='/static/images/Climbers-shadow.jpg', alt='Image')
                .carousel-caption
                    h3 Climbing shadow
                    p Photography
        // Left and right controls
        a.left.carousel-control(href='#myCarousel', role='button', data-slide='prev')
            span.glyphicon.glyphicon-chevron-left
            span.sr-only Previous
        a.right.carousel-control(href='#myCarousel', role='button', data-slide='next')
            span.glyphicon.glyphicon-chevron-right
            span.sr-only Next
    // Categories row
    div.container.marketing.text-center
        div.row
            div.col-sm-6.vertical-center
                button.btn.btn-primary Start a project
            div.col-sm-6
                a.homeCategories(href="projects#category/medical")
                    span.glyphicon.glyphicon-heart-empty  
                    p Medical
                a.homeCategories(href="projects#category/animals")
                    span.glyphicon.glyphicon-star
                    p Animals
                a.homeCategories(href="projects#category/culture")
                    span.glyphicon.glyphicon-grain
                    p Community
                a.homeCategories(href="projects#category/other")
                    span.glyphicon.glyphicon-th-large
                    p Other
    // Featured projects row
    div.container.text-center
        h3 Popular 
        br
        div.row
            div.col-sm-4
                img.img-responsive(src='/static/images/Climbers-shadow.jpg', style='width:100%', alt='Image')
                p Current Project
            div.col-sm-4
                img.img-responsive(src='/static/images/Flickr_-_schmuela_-_more_sun_and_shadows.jpg', style='width:100%', alt='Image')
                p Project 2
            div.col-sm-4
                img.img-responsive(src='/static/images/children-bubbles.jpg', style='width:100%', alt='Image')
                p Project 2
    br

block append scripts
    script(src="/static/js/requester.js")
    script(src="/static/js/router.js")
    script(src="/static/js/explore.js")
