* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
}

h1 {
    color: blueviolet;
}

.carousel,
.jumbotron {
    margin-bottom: 10px;
}


/*home page*/

.marketing .row {
    margin-top: 10px;
}

.marketing .btn {
    font-size: 2em;
}

.homeCategories {
    display: inline-block;
    width: 120px;
    height: 100px;
    font-size: 1.5em;
    vertical-align: middle;
    padding: 5px;
}

.homeCategories .glyphicon {
    font-size: 2em;
}

.homeCategories>* {
    margin-top: 5px;
}


/* explore page */

.exploreFilter {
    display: inline-block;
    font-size: 1.5em;
    text-transform: uppercase;
    padding: 5px;
    height: 100px;
}

.jumbotron {
    content: "";
    background: linear-gradient(rgba(0, 0, 0, 0.20), rgba(0, 0, 0, 0.20)), url('../images/children-bubbles.jpg');
    background-repeat: repeat;
    background-position: center center, center;
    color: #FFF;
}


/*categories centering - does not work*/

.exploreFilter p {
    display: inline-block;
    vertical-align: middle;
}

.exploreFilter.active p {
    border-bottom: 2px solid #2fa4e7;
}