* {
    margin: 0;
    padding: 0;
}

body {
    padding-top: 50px;
}

.carousel,
.jumbotron {
    margin-bottom: 10px;
}

#projects img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    display: inline-block;
}

.marketing .row {
    margin-top: 10px;
}

.marketing .btn {
    font-size: 2em;
}

#loader-row {
    min-height: 400px;
}

.loader {
    z-index: 1;
    margin: 0 auto;
    margin-top: 50px;
    border: 8px solid #f3f3f3;
    border-radius: 50%;
    border-top: 8px solid #2fa4e7;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* Project styles */

.hideLong {
    display: block;
    /* Fallback for non-webkit */
    display: -webkit-box;
    /* max-width: 400px; */
    /*font-size * line-height * lines to show  */
    /* height: 60px; */
    /* Fallback for non-webkit */
    /* margin: 0 auto;
    font-size: 16px;
    line-height: 1.2; */
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
}

#project-box {
    height: 320px;
}

.popover-content {
    color: #2fa4e7;
}