extends ../shared/_master


block main    
    .jumbotron
        .container.text-center
            h1 Category name
            p Description, filters
block subnav
    div.container.marketing.text-center
        div.row
            div.col-sm-6
                ul.nav.navbar-nav
                    li.dropdown
                        a.exploreFilter.dropdown-toggle(data-toggle='dropdown', role='button')
                            | Explore 
                            span.glyphicon.glyphicon-chevron-down
                        ul.dropdown-menu
                            li
                                a(href='/items') All
                            li.divider(role='separator')
                            li
                                a(href='/api/items?category=medical') Medical
                            li
                                a(href='/api/items?category=animal') Animal
                            li
                                a(href='/api/items?category=culture') Culture
                            li
                                a(href='/api/items?category=other') Other
            div.col-sm-6
                a.col-sm-4.exploreFilter.active(href="#")
                    p New
                a.col-sm-4.exploreFilter(href="#")
                    p Most funded
                a.col-sm-4.exploreFilter(href="#")
                    p Most active

    div.container#projects
        block projects
        
block append scripts
    script(src="/static/js/all.js")
    script(src="/static/js/menus.js")
