extends ../shared/_master

append additionlCSS
    link(rel="stylesheet", href="/static/css/explore.css")

block main    
    .jumbotron#explore
        .container.text-center
            h1#title Explore projects
            p#description Find projects which you can help now
block subnav
    div.container.marketing.text-center
        div.row
            div.col-sm-6
                ul.nav.navbar-nav
                    li.dropdown
                        a.exploreFilter.dropdown-toggle(data-toggle='dropdown', role='button')
                            | Categories 
                            span.glyphicon.glyphicon-chevron-down
                        ul.dropdown-menu
                            li
                                a#explore(href='#/') All
                            li.divider(role='separator')
                            li
                                a#medical(href='#/medical') Medical
                            li
                                a#animals(href='#/animals') Animals
                            li
                                a#culture(href='#/culture') Culture
                            li
                                a#other(href='#/other') Other
            div.col-sm-6
                a.col-sm-4.exploreFilter.active(href="#")
                    p New
                a.col-sm-4.exploreFilter(href="#")
                    p Most funded
                a.col-sm-4.exploreFilter(href="#")
                    p Most active

    div.container#projects
        div.row#loader-row
            div.loader
    
    //- TODO not completed
    div.container#pageNum

    div.container
        .row
            ul#pagination.pagination-sm

block append scripts
    script(src="/static/js/requester.js")
    script(src="/static/js/router.js")
    script(src="/static/js/explore.js")
    script(src="/static/js/menus.js")
    script(src="/static/js/jquery.twbsPagination.js")
    script(src="/static/js/pagination.js")
