.container-fluid.bg-3.text-center
    br
    .row
        each project in model
            .col-sm-3
                a(href="/projects/" + project.id)
                    img.img-responsive(src=project.coverImg, style='width:100%', alt='Image')
                p 
                    a(href="/projects/" + project.id)
                        =project.name 
                        | : 
                    =project.description
br
