block main    
    .jumbotron#search
        .container.text-center
            h1#title Search results
block subnav
    div.container.main#results
        div.row.col-md-12
            .pull-left
                h2 Searched value: #{model.value}
            .table-container
                table.table.table-filter
                    tbody
                        each project in model.projects
                            tr
                                td
                                    a.star(href='javascript:;')
                                        i.glyphicon.glyphicon-star
                                td
                                    .media
                                        a.pull-left(href="/projects/" + project.ref)
                                            img(src= project.coverImg)
                                        .media-body
                                            p.media-meta.pull-right Ends on: #{project.ending}
                                            a(href="/projects/" + project.ref)
                                                h4.title #{project.title}
                                            p #{project.motto}
block append scripts
    script(src="/static/js/search.js")
