extends ../shared/_master

block main
    .container
        h1.page-header Edit Profile
        .row
            // left column
            .col-md-4.col-sm-6.col-xs-12
                .text-center
                    img.avatar.img-circle.img-thumbnail(src='https://qph.ec.quoracdn.net/main-qimg-3b0b70b336bbae35853994ce0aa25013?convert_to_webp=true', alt='avatar')
                    h6 Upload a different photo...
                    input.text-center.center-block.well.well-sm(type='file')
            // edit form column
            .col-md-8.col-sm-6.col-xs-12.personal-info
                h3 Personal info
                #form-holder
                    .form.form-horizontal
                        .form-group
                            label.col-lg-3.control-label First name:
                            .col-lg-8
                                input.form-control(type='text', name="firstName",placeholder='First Name' value=user.firstName)
                        .form-group
                            label.col-lg-3.control-label Last name:
                            .col-lg-8
                                input.form-control(type='text', name="lastName", placeholder='Last name' value=user.lastName)
                        .form-group
                            label.col-lg-3.control-label Email:
                            .col-lg-8
                                input.form-control(type='text', name="email", placeholder='E-mail' value=user.email)
                        .form-group
                            label.col-md-3.control-label Username:
                            .col-md-8
                                label#currentUser.control-label=user.username
                        .form-group
                            label.col-md-3.control-label New password:
                            .col-md-8
                                input.form-control(type='password', name="password1", placeholder='Password')
                        .form-group
                            label.col-md-3.control-label Confirm new password:
                            .col-md-8
                                input.form-control(type='password', name="password2", placeholder='Password')
                div
                    .form-group
                        label.col-md-3.control-label
                        .col-md-8
                        button#updateButton.submitbtn.btn.btn-primary(type='submit')
                            | Submit
                        span
                        button.submitbtn.btn.btn-default(value='Cancel', type='reset')
                            | Cancel
block append scripts
    script(src="/static/js/requester.js")
    script(src="/static/js/profile.js")